<!doctype html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <script src="../angular-1.2.28/angular.min.js"></script>
        <style>
            *{color:#666;}
        </style>
    </head>
    <body>
        <section class="section">
        <h1>section 1</h1>
        Hello {{'World'}}!
        <p>当加载该页时，标记ng-app告诉AngularJS处理整个HTML页并引导应用</p>
        <p>使用双大括号标记{&nbsp{&nbsp&nbsp}&nbsp}的内容是问候语中绑定的表达式，这个表达式是一个简单的字符串‘World’</p>
        <hr>
        </section>

        <section class="section">
        <h1>section 2</h1>
        Your name: <input type="text" ng-model="yourname" placeholder="World">
        Hello {{yourname || 'World'}}!

        <p>文本输入指令ng-model="yourname"绑定到一个叫yourname的模型变量。</p>
        <p>双大括号标记将yourname模型变量添加到问候语文本。</p>
        <p>你不需要为该应用另外注册一个事件侦听器或添加事件处理程序！</p>

        <hr>
        </section>
        <section class="section">
        <h1>AngularJS应用的解析</h1>

        本节描述AngularJS应用程序的三个组成部分，并解释它们如何映射到模型-视图-控制器设计模式：<br/>
        模板（Templates）<br/><br/>

        模板是您用HTML和CSS编写的文件，展现应用的视图。 您可给HTML添加新的元素、属性标记，作为AngularJS编译器的指令.<br/>
        AngularJS编译器是完全可扩展的，这意味着通过AngularJS您可以在HTML中构建您自己的HTML标记！<br/>
        应用程序逻辑（Logic）和行为（Behavior）<br/><br/>
        应用程序逻辑和行为是您用JavaScript定义的控制器。<br/>
        AngularJS与标准AJAX应用程序不同，您不需要另外编写侦听器或DOM控制器，因为它们已经内置到AngularJS中了。<br/>
        这些功能使您的应用程序逻辑很容易编写、测试、维护和理解。<br/>
        模型数据（Data）<br/>

        模型是从AngularJS作用域对象的属性引申的。<br/>
        模型中的数据可能是Javascript对象、数组或基本类型，这都不重要，重要的是，他们都属于AngularJS作用域对象。<br/>

        AngularJS通过作用域来保持数据模型与视图界面UI的双向同步。<br/>
        一旦模型状态发生改变，AngularJS会立即刷新反映在视图界面中，反之亦然。<br/>
        此外，AngularJS还提供了一些非常有用的服务特性：<br/>

        底层服务包括依赖注入，XHR、缓存、URL路由和浏览器抽象服务。<br/>
        您还可以扩展和添加自己特定的应用服务。<br/>
        这些服务可以让您非常方便的编写WEB应用。<br/>

        <hr>
        </section>
    </body>
</html>
